@import "tailwindcss";

@layer base {
  /* Estilos por defecto para el modo claro */
  body {
    background-color: hsl(var(--background)) !important;
    color: hsl(var(--foreground)) !important;
  }

  /* Variables para el modo claro */
  :root {
    --background: 210 40% 98%; /* Color de fondo claro */
    --foreground: 210 10% 20%; /* Color de texto claro */

    --card: 255 255 255; /* Color de las tarjetas en claro */
    --card-foreground: 210 10% 20%; /* Color del texto en tarjetas */

    --popover: 255 255 255; /* Color del popover en claro */
    --popover-foreground: 210 10% 20%; /* Color del texto del popover */

    --primary: 217.2 91.2% 59.8%; /* Color primario */
    --primary-foreground: 222.2 47.4% 11.2%; /* Color del texto primario */
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 142.1 70.6% 45.3%;
    --success-foreground: 144.9 80.4% 10%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

  /* Estilos para el modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 222.2 84% 4.9%; /* Fondo oscuro */
      --foreground: 210 40% 98%; /* Texto claro en fondo oscuro */

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 217.2 91.2% 59.8%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --success: 142.1 70.6% 45.3%;
      --success-foreground: 144.9 80.4% 10%;

      --warning: 48 96% 89%;
      --warning-foreground: 38 92% 50%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 224.3 76.3% 48%;
    }
  }
}
